
<div class="eight columns offset-by-two contact">

	<h4><i class="fa fa-lightbulb-o"></i> <%= t('.title') %></h4>

	<div class="row">
		<div class="three columns">
			<h2><i class="fa fa-pencil-square-o"></i> <%= t('.advice') %></h2>
			<p><%= t('.advicetext') %></p>
			
		</div>
		<div class="three columns offset-by-one">
			<h2><i class="fa fa-files-o"></i> <%= t('.cv') %></h2>
			<p><%= t('.cvtext') %></p>		
		</div>

	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<h2><i class="fa fa-hand-o-right"></i> <%= t('.applications') %></h2>
			<p><%= t('.applicationstext') %></p>				
		</div>
		<div class="three columns offset-by-one">
			<h2><i class="fa fa-cogs"></i> <%= t('.training') %></h2>
			<p><%= t('.trainingtext') %></p>		
		</div>
	</div>

	<hr>

	<div class="row">
		<p><%= t('.getintouch') %></p>
		<h3><%= t('.consultation') %></h3>
		
	</div>


</div>