<section class="resources">

	<div class="row resourses_top">
		<div class="four columns offset-by-one">
			<h4>Accomodation and Internships packages</h4>
			<h3>We are developing some packages to give you the most customized attention.
			<br />So, please keep in touch and come to this section in the future to see what we have prepared for you</h3>
			<hr class="light">
			<p><i class="fa fa-arrow-circle-down"></i> <%= active_link_to "Internships", resources_path(:anchor => "internship"), class: "link" %><br />
			<i class="fa fa-arrow-circle-down"></i> <%= active_link_to "Academy", resources_path(:anchor => "academy"), class: "link" %><br />
			<i class="fa fa-arrow-circle-down"></i> <%= active_link_to "Accomodation", resources_path(:anchor => "acommodation"), class: "link" %>
			</p>

		</div>
		<div class="three columns offset-by-one slide">
			<p class="button"><i class="fa fa-home"></i> Accomodation <br />+ English Lessons</p>
			<p class="button"><i class="fa fa-home"></i> Accomodation <br />+ Career Advice</p>
			<p class="button"><i class="fa fa-home"></i> Accomodation <br />+ English Lesson <br />+ Career Advice</p>
		</div>

		<div class="three columns slide">
			<p class="button"><i class="fa fa-puzzle-piece"></i> Internships <br />+ English Lessons</p>
			<p class="button"><i class="fa fa-puzzle-piece"></i> Internships <br />+ Career Advice</p>
			<p class="button"><i class="fa fa-puzzle-piece"></i> Internships <br />+ English Lesson <br />+ Career Advice</p>
			<br />
		</div>

	</div>

	<div class="row">

		<div class="eight columns offset-by-two">

			<h2 id="internship"><i class="fa fa-puzzle-piece"></i> <%= t('.internships') %></h2>
			<hr class="light">
			<p><%= t('.internshipstext') %></p>
			<ul class="disc">
				<li><%= t('.internshipsli1') %></li>
				<li><%= t('.internshipsli2') %></li>
				<li><%= t('.internshipsli3') %></li>
				<li><%= t('.internshipsli4') %></li>
				<li><%= t('.internshipsli5') %></li>
				<li><%= t('.internshipsli6') %></li>
				<li><%= t('.internshipsli7') %></li>
			</ul>

			<br />
			<hr>
			<br />
					
		</div>
		
	</div>


	<div class="row">

		<div class="eight columns offset-by-two">

			<h2 id="academy"><i class="fa fa-book"></i> <%= t('.englishlessons') %></h2>
			<hr class="light">

			<div class="row">

				<div class="three columns">
					<h3><%= t('.structure') %></h3>
					<p><%= t('.structuretext') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.support') %></h3>
					<p><%= t('.supporttext') %></p>
				</div>

			</div>

			<div class="row">

				<div class="three columns">
					<h3><%= t('.encouragement') %></h3>
					<p><%= t('.encouragementtext') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.evaluation') %></h3>
					<p><%= t('.evaluationtext') %></p>
				</div>
				
			</div>

			<div class="row">

				<div class="seven columns">
					<h3><%= t('.dynamicact') %></h3>
					<p><%= t('.dynamicacttext') %></p>
				</div>
				
			</div>

			<note><%= t('.findmore') %></note>
			
			<br />
			<hr>
			<br />

		</div>
		
	</div>

	<div class="row">

		<div class="eight columns offset-by-two">

			<h2 id="acommodation"><i class="fa fa-home"></i> <%= t('.accomodation') %></h2>
			<hr class="light">

			<div class="row">

				<div class="three columns">
					<h3><%= t('.accomodationtitle1') %></h3>
					<p><%= t('.accomodationtext1') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.accomodationtitle2') %></h3>
					<p><%= t('.accomodationtext2') %></p>
				</div>

			</div>

			<div class="row">

				<div class="three columns">
					<h3><%= t('.accomodationtitle3') %></h3>
					<p><%= t('.accomodationtext3') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.accomodationtitle4') %></h3>
					<p><%= t('.accomodationtext4') %></p>
				</div>
				
			</div>

			<div class="row">

				<div class="seven columns">
					<h3><%= t('.accomodationtitle5') %></h3>
					<p><%= t('.accomodationtext5') %></p>
				</div>
				
			</div>
			
			<note><%= t('.pleasecontact') %></note><br /><br />
			<note><%= t('.alternatively') %></note>
			
		</div>
		
	</div>

</section>


