<div class="ten columns offset-by-one contact">

	<h4><i class="fa fa-asterisk"></i> Services</h4>

	<div class="row">
		<br />
		<h2>2 hour Practical Consultation – Application For Jobs</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "looking_job.jpg" %>
		</div>
		<div class="four columns">
			<p>This consultation is excellent for your job search since it involves practicing online applications with our consultants. At the end of the 2 hour session, you will become much better prepared for your job applications. Our consultants are fully trained and are usually multilingual, therefore they may be able to help with your language barriers. Booking is required.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>Your CV and Cover Letter Done For You Service</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "resume.jpg" %>
		</div>
		<div class="four columns">
			<p>This service is delivered by Purple Stone Academy. We will write your CV for you and your Cover letter. You can get maximum 3 different versions of each CV and Cover letter. You can get 100 printed copies in total.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>2 hour Consultation Of Preparation For Interviews</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "handshake.jpg" %>
		</div>
		<div class="four columns">
			<p>This consultation is invaluable for your job search since it involves practicing your interview techniques with our consultants. At the end of the 2 hour session, you will become much better prepared for your job interviews.<br /><br />Our consultants are fully trained and are usually multilingual, therefore they may be able to help with your language barriers. Booking is required.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>Health and Safety Training And Certificate</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "healt_and_safety_certificate.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p>This is an online tutorial that will teach you health and safety measures. When you finish the tutorial, you will receive an online certificate awarded by Purple Stone Career Advice.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>Online Training and Certificate of Maths for Cashiers</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "online_training_and_certificate_of_maths_for_cashiers.png", width: '300' %>
		</div>
		<div class="four columns">
			<p>You will receive online training and a certificate of Maths for Cashiers awarded by Purple Stone Career Advice, that will teach you basic Mathematics and how to count in English. This will show potential employers that you are familiar with basic Mathematics skills.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>Food Safety Training And Certificate Level 2</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "food_safety_training_and_certificate_level_2.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p>This is a certificate awarded by City and Guilds. This certificate will teach you how to handle food in a safe way. This is a very useful certificate if you wish to work in catering, especially if you have direct contact with food. This is also very useful if you are learning English, since you will learn very important words used in dealing with food.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>How To Find The Perfect Food And Wine Combination</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_find_the_perfect_food_and_wine_combination.png", width: '300' %>
		</div>
		<div class="four columns">
			<p>This certificate is awarded by Purple Stone Career Advice. This certificate is useful if you wish to work in the catering industry, or in sales of food or wine, since this course will teach you how to combine food and wine.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>Career Advice Online tutorial.<br />7 Key Strategies To Finding Your First Job Quickly</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "7_key_strategies_to_finding_your_first_job_quickly.png", width: '300' %>	
		</div>
		<div class="four columns">
			<p>This online tutorial is provided by Purple Stone Academy. This tutorial is going to teach you the requirements needed for working in the UK, interview techniques, interview types, how to create your CV and cover letter, the ten most important elements in succeeding at a job interview and the ten most commonly used questions at interviews.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>How To Apply For Jobs Online.<br />Tutorial For Catering</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_jobs.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p>This online tutorial will teach you how to apply for jobs online. You will also receive a list of companies where you can apply for jobs. This will be of great use to you if you are a complete beginner in terms of applying for jobs in the UK.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>How To Apply For Jobs Offline.<br />Tutorial For Catering</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_jobs_offline–tutorial_for_catering.png", width: '300' %>	
		</div>
		<div class="four columns">
			<p>This online tutorial will teach you how to apply for jobs offline. You will find out the most effective ways to apply for jobs offline. This tutorial will help you in your job search, especially in the catering, cleaning, hotel fields.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>How To Apply For Jobs Offline.<br />Tutorial for Nannies/ Aupairs</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_jobs_offline–tutorial_for_nannies_aupairs.png", width: '300' %>
		</div>
		<div class="four columns">
			<p>This online tutorial will teach you the most effective ways to apply for jobs offline. This is going to be very useful for your job search.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>How To Apply For Jobs Online.<br />Tutorial for Nannies/ Aupairs</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_jobs.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p>This online tutorial will teach you how to apply for jobs online. You will also receive a list of places where you can apply for jobs. This will be of great use to you if you are a complete beginner in terms of applying for jobs in the UK.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>Online tutorial.<br />How To Apply For A UK Bank Account</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_a_uk_bank_account.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p>This online tutorial explains where and how you need to apply for a bank account.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2>Online tutorial.<br />How To Apply For A NINO (National Insurance Number)</h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_a_nino.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p>This online tutorial explains how and where to apply for a National Insurance Number.</p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#">See What Our Customers Say</a>
		</div>
	</div>

</div>
