<div class="ten columns offset-by-one contact">

	<h4><i class="fa fa-asterisk"></i> <%= t('.title') %></h4>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle1') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "looking_job.jpg" %>
		</div>
		<div class="four columns">
			<p><%= t('.servicestext1') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle2') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "resume.jpg" %>
		</div>
		<div class="four columns">
			<p><%= t('.servicestext2') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle3') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "handshake.jpg" %>
		</div>
		<div class="four columns">
			<p><%= t('.servicestext3') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle4') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "healt_and_safety_certificate.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p><%= t('.servicestext4') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle5') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "online_training_and_certificate_of_maths_for_cashiers.png", width: '300' %>
		</div>
		<div class="four columns">
			<p><%= t('.servicestext5') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle6') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "food_safety_training_and_certificate_level_2.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p><%= t('.servicestext6') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle7') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_find_the_perfect_food_and_wine_combination.png", width: '300' %>
		</div>
		<div class="four columns">
			<p><%= t('.servicestext7') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle8_html') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "7_key_strategies_to_finding_your_first_job_quickly.png", width: '300' %>	
		</div>
		<div class="four columns">
			<p><%= t('.servicestext8') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle9_html') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_jobs.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p><%= t('.servicestext9') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle10_html') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_jobs_offline–tutorial_for_catering.png", width: '300' %>	
		</div>
		<div class="four columns">
			<p><%= t('.servicestext10') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle11_html') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_jobs_offline–tutorial_for_nannies_aupairs.png", width: '300' %>
		</div>
		<div class="four columns">
			<p><%= t('.servicestext11') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle12_html') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_jobs.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p><%= t('.servicestext12') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle13_html') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_a_uk_bank_account.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p><%= t('.servicestext13') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

	<hr>

	<div class="row">
		<br />
		<h2><%= t('.servicestitle14_html') %></h2>
		<hr class="light">
		<div class="five columns">
			<%= image_tag "how_to_apply_for_a_nino.png", width: '300' %>			
		</div>
		<div class="four columns">
			<p><%= t('.servicestext14') %></p>
			<a class="button">PAYPAL BUY NOW</a>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#"><%= t('.seewhat') %></a>
		</div>
	</div>

</div>
